<div>
  <h2>Mathjax in Angular</h2>
  <br />
  <div>$$ x = 1 $$</div>
  <hr />
  <br />
  <h3>Latex</h3>
  <div [mathjax]="content"></div>
  <hr />
  <br />
  <h3>Mathml</h3>
  <div [mathjax]="content2"></div>
  <hr />
  <br />
  <h3>inner html</h3>
  <div [mathjax]="content3"></div>
  <hr />
  <br />
  <h3>The Lorenz Equations</h3>
  <hr />
  <div [mathjax]="content4"></div>
  <hr />
  <br />
  <h3>The Cauchy-Schwarz Inequality</h3>
  <hr />
  <div [mathjax]="content5"></div>
  <hr />
  <br />
  <h3>A Cross Product Formula</h3>
  <hr />
  <div [mathjax]="content6"></div>
  <hr />
  <br />
  <h3>The probability of getting k heads when flipping n coins is:</h3>
  <hr />
  <div [mathjax]="content7"></div>
  <hr />
  <br />
  <h3>An Identity of Ramanujan</h3>
  <hr />
  <div [mathjax]="content8"></div>
  <hr />
  <br />
  <h3>A Rogers-Ramanujan Identity</h3>
  <hr />
  <div [mathjax]="content9"></div>
  <hr />
  <br />
  <h3>Maxwell's Equations</h3>
  <hr />
  <div [mathjax]="content10"></div>
  <hr />
  <div [mathjax]="content11"></div>
</div>
